<div class="login-wrapper">
    <form class="form" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" name="password" autocomplete="off" matInput
                [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="action-buttons">
            <button type="button" mat-raised-button color="primary" (click)="login(loginForm.value)">Login</button>
            <button type="button" mat-raised-button (click)="toRegistration()">To Registration</button>
        </div>
    </form>
</div>